.Main {
  height: 90%;
  width: 100%;
  padding: 0px 0px 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 500px) and (min-height: 568px) {
  .Main {
    height: 85%;
  }
}