.Container {
  background-color: rgba(0, 0, 0, 0.5);
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 100px;
  min-width: 190px;
  animation-name: container;
  animation-duration: 8s;
}
@keyframes container {
  from {
    box-shadow: 1px 1px 20px 20px white;
  }
  75% {
    box-shadow: 1px 1px 20px 10px white;
  }
  90% {
    box-shadow: 1px 1px 20px 5px gray;
  }
  100% {
    box-shadow: 0px 0px 0px 0px black;
  }
  
}
.Container__title {
  font-size: 20px;
  text-transform: uppercase;
  line-height: 50px;
  padding: 5px;
}

@media screen and (min-width: 500px) and (min-height: 568px)  {
  .Container {
    width: 250px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Container__title {
    font-size: 24px;
  }
}

@media screen and (min-width: 800px) and (min-height: 568px)  {
  .Container {
    width: 310px;
    height: 150px;
  }
  .Container__title {
    font-size: 28px;
    letter-spacing: 3px;
  }
}